<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://kzhctech.github.io/mininews/index.css">
	 
	<link rel="stylesheet" href="/static/pitch.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 <title>Updated Values</title>
</head>
<body class="bg-secondary">
 
 
 
 
<div class="bg-light">
<div class="container-fluid mb-2 py-2">
<div class="row">
<div class="col" id="Name">
-----ABC VS XYZ-----
</div>
</div>
</div>
</div>
<div class="container-fluid">
	   <div class="row text-white">
							<div class="col-md-4 col-sm-12">
								<div class="row">
									<div class="col-6">


										<div class="row">
											<div class="col-3">
							<img width="auto"  height="40px" id="logo">
											</div>
											<div class="col-9 mt-1">
				<span class="h3" id="Team1Name">Team Name</span>
						
											</div>
							</div>
									</div>

									<div class="col-6 text-right"><h4>
									 <span id="Run">--Run--</span></h4>
									 <h6 id="Over" class="ml-2">--Over--</h6></div>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
									<div class="w-100 bg-primary border-side-round text-white px-1 text-center"><span class="h2" id=""><big id="Last">-----</big></span></div> 
							</div>
							<div class="col-md-4 col-sm-12">
								
									<div class="row">
										<div class="col-4"><span id="Teambat2name">Team Bowling</span></div>
												<div class="col-8 text-right"><h4 id="bat2Score">-----<small class="text-muted ml-2"></small></h4></div>
				</div> 
							</div>
						  </div>
</div>
						 <div class="bg-dark mb-2">
						  <div class="container-fluid">
						   <div class="row text-white">
						    <div class="col-6"> <span id="Status" class=" text-center mb-2">
-----Status--------
</span></div>
						    <div class="col-6" id="RR">
						     ---RR---
						    </div>
						   </div>
						  </div>
						 </div>
	<div class="container-fluid">
		<div class="row"> 
			<div class="col-6">
		<div class="gwrap">
			<div class="iteam">
				<div id="adv">
					<img src="images/static-logo.png%09%20" width="100%" alt="" srcset="">
					<h4 class="text-center">END OF OVER</h4>
				</div>
			 		<div class="ground">
						<div class="cercel">
	    <div class="wicket">
	      <div id="ball"></div>
	      <div class="filder" id="f1"></div>
	      <div class="filder" id="f2"></div>
	      <div class="filder" id="f3"></div>
	      <div class="filder" id="f4"></div>
	      <div class="filder" id="f5"></div>
	      <div class="filder" id="f6"></div>
	      <div class="filder" id="f7"></div>
	      <div class="filder" id="f8"></div>
	      <div class="filder" id="f9"></div>
	    </div>
	  </div>
	</div>
		
			</div>
		</div>

			</div>
			<div class="col-6">
				 <div id="myDiv" class="field">
   <img src="https://kzhctech.github.io/procric/cb.png" class="cb" alt="">
 <div class="stump top left"></div>
 <div class="stump top center"></div>
<div class="stump top right"></div>
<img class="kiper" src="https://kzhctech.github.io/procric/kiper.png" alt="">

<img class="batsman" src="https://kzhctech.github.io/procric/batsman.png" alt="">

   <div class="ballmarker" id="bm2">
     <img src="https://kzhctech.github.io/procric/cb.png" alt="">
   </div>
  
  <div class="ballmarker" id="bm1">
    <img src="cb.png" alt="">
    </div>
   
 <div class="stump bottom left"></div>
 <div class="stump bottom center"></div>
 <div class="stump bottom right"></div>
        <div class="pitch">
          <div class="crline bat"></div>
         <div id="lenawrap">
            <div id="Yourker" class="lengName">
            Yourker
          </div>
           <div id="Slot" class="lengName ">
            Slot
          </div>
            <div id="Length" class="lengName">
            Length
          </div>
            <div id="Short" class="lengName show">
            Short
          </div>
         </div>
          <div class="crline bowl"></div>
        </div>
      </div>





			</div>
		</div>





</div>


 <div class="bg-dark my-1">
						  <div class="container-fluid">
						   <div class="row text-white">
						    <div class="col-3 mt-2">Partnership: <span id="pship" class="">----
</span></div>

						    <div class="col-9 pt-2">
						 




							    <nav aria-label="Page navigation example ">
 <ul class="pagination pagination-sm" id="LBs">-----</ul>
					</nav>
						    </div>
						   </div>
						  </div>
						 </div>



<div class="container-fluid">
			<div class="card-it text-white">
						<div class="row no-gutters">
								<div class="col-md-4 col-sm-12 py-1 mb-2">
									<div class="row no-gutters mx-1 bg-info">
										<div class="col-3">
											<img id="bat1img" height="70px" width="70px" src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c182026/lachlan-lake.jpg" alt="">
										</div>
										<div class="col-9">
											<h5><span id="B1name">Batsman 1</span></h5>
											<h4><span id="B1run">R</span><small id="B1Ball">(B)</small></h4>
										</div>
									</div>
										<div class="row mx-1 bg-danger">
										 <div class="col-4">4s: <span id="B1Four">0</span></div>
										 	 <div class="col-4">6s: <span id="B1Six">0</span></div>
										 	 	 <div class="col-4">SR:<span id="B1SR">0.00</span></div>
										</div>
								</div>
								<div class="col-md-4 col-sm-12 py-1 mb-2">
									<div class="row no-gutters mx-1 bg-info">
										<div class="col-3">
											<img id="bat2img" height="70px" width="70px" src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c182026/lachlan-lake.jpg" alt="">
										</div>
										<div class="col-9">
											<h5><span id="B2name">Batsman 2</span></h5>
											<h4><span id="B2run">R</span><small id="B2Ball">(B)</small></h4>
										</div>
									</div>
										<div class="row mx-1 bg-danger">
										 <div class="col-4">4s: <span id="B2Four">0</span></div>
										 	 <div class="col-4">6s: <span id="B2Six">0</span></div>
										 	 	 <div class="col-4">SR:<span id="B2SR">0.00</span></div>
										</div>
								</div>
								<div class="col-md-4 col-sm-12 py-1 mb-2">
									<div class="row no-gutters mx-1 bg-info">
										<div class="col-3">
											<img id="blimg" height="70px" width="70px" src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c182026/lachlan-lake.jpg" alt="">
										</div>
										<div class="col-9">
											<h5><span id="BLname">Bowler</span></h5>
											<h4><span id="BLWkRun">WK-R</span></h4>
										</div>
									</div>
										<div class="row mx-1 bg-danger">
										 <div class="col-6">Over: <span id="BLOver">0</span></div>
										 	 	 <div class="col-4">ECO:<span id="Eco">0.00</span></div>
										</div>
								</div>
								</div>
					
						
					  
			 </div>

		</div>

 
 
 
 
 
 
 <h1>Updated Values:</h1>
 Commentry:<span id="Comment"></span>
 <ul id="updatedValuesList">
 </ul>
 <script src="/socket.io/socket.io.js"></script>
 <script src="/static/pitch.js"></script>
 <script src="/static/script.js"></script>
 <script>
  const socket = io();
  let textTold = '';




let link = prompt("Please enter CREX URL", "");
  if (link != null) {
    


// Define the URL and request body
const url = '/live';
const data = {
  url:link
};

// Create the request headers
const headers = {
  'Content-Type': 'application/json',
  // You can add more headers if needed
};

// Create the POST request
fetch(url, {
  method: 'POST',
  headers: headers,
  body: JSON.stringify(data) // Convert data to JSON string
})
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json(); // Parse the response JSON
  })
  .then(data => {
    console.log('Response data:', data);
    // Do something with the response data
  })
  .catch(error => {
    console.error('Error:', error);
    // Handle any errors that occurred during the fetch
  });





  }












  socket.on('updatedValues', (updatedValues) => {




if (updatedValues.LBs){
 updatedValues.LBs  = formatBadString(updatedValues.LBs);
}
  // console.log(updatedValues);
	  



	  
var logo = document.getElementById('logo');

var b1img = document.getElementById('bat1img');
var b2img = document.getElementById('bat2img');
var blimg = document.getElementById('blimg');





logo.setAttribute("src",updatedValues.Team1Logo);





   textTold = updatedValues.Comment;








   const updatedValuesList = document.getElementById('updatedValuesList');
   updatedValuesList.innerHTML = '';

   for (const [key, value] of Object.entries(updatedValues)) {



    const listItem = document.createElement('li');
    listItem.innerHTML = `<strong>${key}:</strong> ${value}`;
    updatedValuesList.appendChild(listItem);

    let selector = '#' + key;



    let element = document.querySelector(selector);



    if (element) {
     element.innerHTML = value;
    } else {
    }




   }



	  if (updatedValues.ComOver){



b1img.setAttribute("src",updatedValues.B1img);
b2img.setAttribute("src",updatedValues.B2img);
blimg.setAttribute("src",updatedValues.BLimg);



 let bcid  =  'this-' + updatedValues.ComOver.split('.')[1];
                                                          
const ele = document.getElementById(bcid);           

	if (!ele) {                                                                                                                                                                            bcid  =  'last-' + updatedValues.ComOver.split('.')[1];                                                                                                }
                                                                                               setPosition(updatedValues.Comment,updatedValues.Event,bcid);

	  }









  });







  

















 </script>
</body>
</html>
